version: 2.1

executors:
  default:
    docker:
      - image: quay.io/hemanth22/rockylinux9:9

jobs:
  build:
    executor: default
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            dnf install python3 -y
            alternatives --set python3 /usr/bin/python3
            python3 -version
      - run:
          name: Run Gatling Simulation
          command: |
            chmod 755 *
            sh regresson.sh
            mkdir -p /tmp/artifacts
            cp -v reg.html /tmp/artifacts
      - store_artifacts:
          path: /tmp/artifacts

workflows:
  version: 2
  build-and-test:
    jobs:
      - build